header {
    background: #fff2e1;
}

.header {
    background: #fff2e1;

    &_top-inner {
    }

    &__top {
    }
}
.container {
    //margin: 30px auto;
    // display: inline-block;
}
.logo {
    display: inline-flex;
    &__link {
        margin: 40px 0px 0px 122px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0.04em;
        text-decoration: none;
        color: #113c49;
    }

    &__img {
        width: 20px;
    }
}
.menu {
    display: inline-flex;

    &_link {
        text-decoration: none;
        color: #252641;
        font-family: "Poppins", sans-serif;

        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.02em;
        color: #252641;
    }

    &__list {
        margin: 0px 0px 0px 500px;
    }

    &__list-item {
        display: inline-block;
        padding: 0px 80px 0px 0px;
    }
}
.buttons {
    display: inline-flex;

    &__item1 {
        margin: 0px 34px 0px 0px;
        width: 160px;
        height: 60px;
        left: 1440px;
        top: 71px;
        border-radius: 80px;
        border: 0px;
        background-color: #ffffff;

        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.02em;
        color: #6c6c6c;
    }

    &__item2 {
        width: 160px;
        height: 60px;
        left: 1440px;
        top: 71px;
        border-radius: 80px;
        border: 0px;
        background-color: #f48c06;

        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.02em;
        color: #ffffff;
    }
}

.intro {
    background: #fff2e1;
    display: flex;
    &_row {
    }

    &__info {
        margin: 210px 0px 0px 140px;
    }

    &__title {
        width: 681px;
        height: 162px;
        left: 140px;
        top: 335px;

        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 81px;
        color: #2f327d;
    }

    &__subtitle {
        width: 523px;
        height: 76px;
        left: 140px;
        top: 531px;

        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 160%;

        color: #464646;
    }

    &__img img {
        width: auto;
        height: 892px;
        top: 224px;

        margin: 0px 0px 0px 267px;
    }
}
.rowintro {
    display: flex;

    &__button button {
        margin: 52px 0px 0px 0px;

        width: 220px;
        height: 80px;
        left: 140px;
        top: 659px;

        background: #f48c06;
        border-radius: 80px;
        border: 0px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #ffffff;
    }

    &__img img {
        margin: 52px 0px 0px 40px;
        border-radius: 120px;
        width: auto;
        height: 80px;
        //background-color: white;
        background-image: url(img/iconplay.png);
    }

    &__text {
        margin: 52px 0px 0px 32px;
        width: 232px;
        height: 36px;
        left: 512px;
        top: 681px;

        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        color: #252641;
    }
}

.companies {
    &__title {
        /* Trusted by 5,000+ Companies Worldwide */
        margin: 100px 0px 0px 0px;

        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 160%;
        /* identical to box height, or 45px */
        letter-spacing: 0.02em;
        text-align: center;

        color: #696984;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        margin: 42px 0px 0px 0px;
        height: 56px;
        vertical-align: middle;
    }

    &__iconofcompany {
        margin: 0px 0px 0px 85px;
        width: auto;
        height: 56px;
    }
}

.title-with-text {
    &_allinone {
        margin: 160px auto 0px auto;
        width: 837px;
    }

    &_about {
        margin: 157px auto 0px auto;
        width: 1050px;
    }

    &__title {
        text-align: center;
        margin: 0px auto;

        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 180%;

        color: #f48c06;
    }

    &__text {
        /* Skilline is one powerful online software suite that combines all the tools needed to run a successful school or office. */
        margin: 0px auto;
        text-align: center;

        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 180%;

        color: #696984;
    }
}

.cards {
    display: flex;

    &__body {
        margin: 160px 225px 0px 225px;
    }
    &__item {
        margin: 0px 60px 0px auto;
        width: 450px;
        height: 430px;
        left: 225px;
        top: 1855px;

        background: #ffffff;
        box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
        border-radius: 20px;
    }

    &__picture img {
        text-align: center;

        margin-top: 27px;
    }

    &__circle {
        margin: -60px auto;
        text-align: center;
        width: 100px;
        height: 100px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        background: red;
    }

    &__title {
        margin: 139px auto 0px auto;
        width: 343px;
        height: 90px;
        left: 279px;
        top: 1977px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        text-align: center;

        color: #2f327d;
    }

    &__text {
        margin: 24px auto 0px auto;
        width: 341px;
        height: 144px;
        left: 280px;
        top: 2091px;

        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 180%;
        /* or 36px */
        text-align: center;

        color: #696984;
    }
}

.startingfor {
    //justify-content: flex-end;

    &__row {
        display: flex;
        justify-content: center;
        margin: 80px auto auto auto;
    }

    &__block {
        margin: 0px 50px 0px 50px;

        padding: auto;
        width: 600px;
        height: 400px;

        opacity: 1;
        border: 0px solid #000000;
        box-sizing: border-box;
        border-radius: 20px;
    }

    &__instructors {
        //opacity: 0.6;
        // background-image: url("img/forinstructors.png");
        // // background-color: rebeccapurple;

        // background-image: ("img/forinstructors.png");
        // background-image: url(img/forinstructors.png);
        // background: ("img/forinstructors.png");
        // background: url(img/forinstructors.png);
        background: url(https://sun9-43.userapi.com/impg/86-8NBNnyWW42xPxafZ5EXF8MU2AjA21jVIMpA/LBTfwcfg-u0.jpg?size=600x400&quality=96&sign=1325208a6b10220c79aad8a6aec019c5&type=album);
        height: 100%;

        // // border: 0px solid #000000;
        // // box-sizing: border-box;
        // // border-radius: 20px;
    }

    &__students {
        //background-image: url("img/forstudents.png");
        //background: url(img/forstudents.png);

        background: url(https://sun9-46.userapi.com/impg/R3NSFlGsQQSOaSSFZ_R5S47N4-Rw8_KQECIg_w/hilrfJA96MY.jpg?size=600x400&quality=96&sign=2fef553007364592ca5831f79c2beb4d&type=album);
        background-size: cover;
        height: 100%;
    }

    &__title {
        padding: 132px 0px 0px 0px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;

        text-align: center;
        color: #ffffff;
    }

    &__link {
        &_forinstructors {
            width: 283px;
            height: 80px;
            left: 1169px;
            top: 2948px;

            //background: rgba(0, 0, 0, 0.9);
            opacity: 1;
            border-radius: 80px;
            border: 2px solid #ffffff;

            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 33px;
            /* identical to box height */

            text-align: center;
            margin: 17px auto;
            color: #ffffff;
            a {
                display: inline-block;
                vertical-align: middle;
                top: 60%;
                color: #ffffff;
                text-decoration: none;

                padding: 20px 0px 0px 0px;
            }
        }
        &_forstudents {
            width: 283px;
            height: 80px;
            left: 1169px;
            top: 2948px;

            background: rgba(35, 189, 238, 0.9);
            border-radius: 80px;

            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 33px;
            /* identical to box height */

            text-align: center;

            margin: 17px auto;
            color: #ffffff;
            a {
                display: inline-block;
                vertical-align: middle;
                top: 60%;
                color: #ffffff;
                text-decoration: none;

                padding: 20px 0px 0px 0px;
            }
        }
    }
}

.possibilities {
    //display: flex;
    &__row {
        display: flex;
        justify-content: center;
        margin: 160px auto auto auto;
    }

    &__text {
        margin: 30px 67px 0px 0px;
        width: 730px;
        height: 172px;
        left: 211px;
        top: 3521px;

        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 180%;
        /* or 43px */

        letter-spacing: 0.02em;

        color: #696984;
    }
    &__cicrlefortitle {
        position: absolute;
        //padding: 0px 10px 5px 0px;
        width: 73px;
        height: 73px;

        clip-path: circle(50%);

        background: #f4b767;
    }
    &__title {
        width: 655px;
        height: 116px;
        left: 211px;
        top: 3375px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 160%;
        /* or 58px */

        color: #f48c06;
    }

    &__linkblock {
        margin: 30px 0px 0px 0px;
    }

    &__link {
        width: 125px;
        height: 40px;
        left: 211px;
        top: 3723px;

        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 180%;
        /* identical to box height, or 40px */

        text-decoration-line: underline;

        color: #696984;
    }

    &__picture {
        width: 705px;
        height: 471.08px;
        left: 1008px;
        top: 3331px;
    }
}
